*
  margin: 0
  padding: 0

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap&subset=cyrillic,cyrillic-ext")

.first_slider
  background-image: url("img/header-background.jpg")
  background-repeat: no-repeat
  height: 525px
  background-position: right
.navigator
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr
  align-items: center
  list-style-type: none

.list_links
  color: #ffffff
  font-size: 18px
  font-weight: 400
  text-decoration: none
  display: grid
  justify-content: center

.content-fist-slider
  padding-left: 8rem
  padding-top: 90px

.big-lozung
  font-size: 48px
  font-weight: 900
  color: #ffffff

.small-lozung
  color: #ffffff
  font-size: 36px
  font-weight: 700
  padding-bottom: 2.5rem

.long-button
  text-decoration: none
  padding: 20px 100px
  color: #ffffff
  font-size: 16px
  font-weight: 700
  text-transform: uppercase
  border-radius: 30px
  background-color: #008dcd

.header
  display: grid
  grid-template-columns: 3fr 8fr
  padding-top: 30px
  padding-left: 8rem
  padding-right: 8rem

.adidas
  display: none
.nav
  padding-top: 30px


.two_slider
  display: grid
  grid-template-columns: 1.5fr 1fr
  width: 1440px
  height: 450px
  background: #f7f7f7
  &__left
    background-image: url("img/slider-two.svg")
    background-position: center
    background-repeat: no-repeat
    grid-column: 1
  &__right
    width: 460px
    justify-items: center
    margin-top: 100px
    grid-column: 2
.text-lozung-two
  padding-top: 1.5rem
  padding-bottom: 3.5rem


.lozung-two
  color: #000000
  font-size: 36px
  font-weight: 700
  &__spesial
    display: none

.text-lozung-two
  color: #000000
  font-size: 16px
  font-weight: 400

.center
  margin: 0 auto

.three_slider
  width: 1060px
  padding: 70px 2rem
  display: grid
  grid-template-columns: 1fr 1fr
  grid-template-rows: 1fr 1fr
  grid-gap: 4rem


.four-slider
  width: 1440px
  padding-bottom: 80px

  &__top
    background-color: #f7f7f7
    display: flex
    padding: 70px 9rem 65px
    justify-content: space-between

  &__middle
    background-color: #008dcd
    padding: 50px 9rem 40px
    display: flex

  &__middle-text
    color: #ffffff
    font-size: 16px
    font-weight: 900
    text-transform: uppercase
    width: 740px
  &__telephone-number
    width: 391px
    height: 132px
    display: flex
    flex-direction: column
    justify-content: space-between

  &__bottom
    width: 1173px
    padding-left: 140px
    padding-right: 140px
    display: grid
    grid-template-rows: 170px 324px
    grid-template-columns: 20px 1fr 1fr 20px

  &__bottom-feedback-1
    grid-row: 2
    grid-column-start: 2
    grid-column-end: 3
    display: grid
    grid-template-columns: 160px 260px
    grid-template-rows: 160px auto
    align-self: center
    justify-content: center


  &__bottom-feedback-2
    grid-row: 2
    grid-column-start: 3
    grid-column-end: 4
    display: grid
    grid-template-columns: 160px 260px
    grid-template-rows: 160px auto
    align-self: center
    justify-content: center

.feedback-foto
  grid-column: 1
  grid-row: 1
.other
  grid-column: 2
  grid-row: 1
  padding-left: 40px
  color: #000000
  font-size: 16px
  font-weight: 400
.who
  color: #000000
  font-size: 20px
  font-weight: 400
.name
  color: #000000
  font-size: 36px
  font-weight: 400

.what
  font-size: 16px
  font-weight: 400

.feedback-text
  grid-row: 2
  grid-column-start: 1
  grid-column-end: 3
  padding-top: 30px
  color: #000000
  font-size: 16px
  font-weight: 400


.number
  background-color: #008dcd
  border-radius: 50px
  padding: 18px
  font-size: 16px
  font-weight: 400

.word-feedback
  grid-row: 1
  grid-column: 2
  align-self: center

.strelka-1
  grid-row: 2
  grid-column: 1
  align-self: center
  height: 31px

.strelka-2
  grid-row: 2
  grid-column: 4
  align-self: center
  height: 31px


.big-text
  font-size: 48px
.text-lozung-four
  color: #000000
  font-size: 36px
  font-weight: 700



.five-slider
  width: 1440px
  &__top
    padding-top: 100px
    height: 396px
    background-color: #f7f7f7
    padding-left: 6rem
    padding-right: 6rem
  &__top-circle
    display: flex
    justify-content: space-between


  &__top-blocks
    padding-top: 30px
    width: 160px
    height: 226px
    display: flex
    flex-direction: column
    justify-content: space-between
    text-align: center

  &__bottom
    padding-top: 80px
    padding-left: 6rem
    padding-right: 6rem
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-template-rows: 25px 397px

  &__bottom-lozung
    grid-row: 1
    grid-column: 1

  &__bottom-threeBlock
    justify-self: center
    padding-top: 2rem
    width: 332px
    height: 400px
    grid-row: 2
    display: flex
    flex-direction: column
    justify-content: space-between



.six-slider
  width: 1440px
  padding-top: 6rem
  &__top
    padding-top: 64px
    height: 416px
    background-color: #d2ecf7
    padding-left: 6rem
    padding-right: 6rem
  &__top-block
    height: 225px
    display: flex
    flex-direction: column
    flex-wrap: wrap
    align-items: center
    justify-content: space-between


  &__top-block-content
    align-items: flex-end
    width: 558px
    height: 64px
    border-radius: 200px
    background-color: #ffffff
    font-size: 15px
    font-weight: 400
    padding-left: 1rem
    display: flex


  &__top-lozung
    padding-bottom: 2rem


.seven-slider
  width: 1440px
  &__content
    display: flex
    justify-content: space-between
    align-items: center
    padding: 25px 6rem

  &__links
    display: flex
    align-items: center
    width: 88px
    height: 17px
    padding-top: 25px
    padding-bottom: 25px

.footer
  width: 1440px
  background-color: #e9e9e9
  height: 266px
  &__top
    padding-left: 6rem
    padding-right: 6rem
  &__check
    color: #9e9e9e
    font-size: 10px
    font-weight: 400

.footer-style
  background-color: #e9e9e9




summary
  cursor: pointer
  &::-webkit-details-marker
    display: none


details summary:after
  content: "▼"
  padding-left: 30rem
  width: 17px
  height: 10px
  color: #ef5b70






.spesial-revers
    display: flex
    flex-direction: row-reverse
    justify-content: space-between
    align-items: center

.bottom-threeBlock-cirkle
  width: 160px
  height: 160px
  background-color: #f7f7f7
  border-radius: 100px
  justify-content: center
  display: flex

.medium-button
  text-decoration: none
  padding: 20px 100px
  color: #ffffff
  font-size: 11px
  font-weight: 700
  text-transform: uppercase
  border-radius: 30px
  background-color: #008dcd


.top-circle-white
  width: 160px
  height: 160px
  background-color: #ffffff
  border-radius: 100px
  display: flex
  justify-content: center





form
  color: #ffffff
  font-weight: 400

@media(max-width: 320px)
  .content-fist-slider
    padding-top: 350px
    padding-left: 1rem

  .logo-pic
    width: 100px
    height: 30px
  .navigator
    display: none
  .logo
    height: 29px
    width: 100px
  .first_slider
    background-position: right -154px top 0px
    background-size: 336%
  .big-lozung
    font-size: 32px
    color: black
  .small-lozung
    font-size: 24px
    color: black

  .header
    display: grid
    grid-template-columns: 4fr 0.5fr

  .long-button
   padding: 1rem 2.5rem
  .adidas
    display: flex

  .three_slider
    padding: 30px 1rem
    display: flex
    flex-direction: column

  .content-three
    width: 278px
    height: 258px
    padding-top: 1rem
    padding-bottom: 1rem

    &__pic
      height: 188px


@media screen and  (min-width: 321px) and (max-width: 870px)
  .first_slider
    width: 100vw
    background-position: right -153px top 0px
    height: 665px
  .content-fist-slider
    padding-top: 490px
    padding-left: 2rem
  .big-lozung
    color: black
  .small-lozung
    color: black
  .navigator
    display: none
  .header
    display: grid
    grid-template-columns: 5fr 0.5fr

  .adidas
    display: flex
  .two_slider
    width: 100vw
    padding-top: 10rem
    display: grid
    grid-template-rows: 44px 1fr 1fr
    grid-template-columns: 2rem  383px  400px
    &__left
      align-self: center
      height: 330px
      grid-row-start:  2
      grid-row-end: 4
      grid-column: 3
      background-size: 100%
    &__right
      align-self: center
      height: 100px
      grid-row: 2
      grid-column: 2

  .text-lozung-two
      font-size: 14px
      font-weight: 400
      width: 260px

  .lozung-two
    display: none
    &__spesial
      display: flex
      font-size: 36px
      font-weight: 700
      grid-row: 1
      grid-column-start: 2
      grid-column-end: 4
      align-items: center
      padding-left: 2rem

@media (max-width: 1100px)
  .header
    padding-left: 2rem
    padding-right: 2rem

  .two-slider
    height: 336px
    width: 770px

  .three_slider
    width: 641px
    padding: 40px 2rem
    grid-gap: 1rem

  .content-three
    width: 281px
    height: 268px

  .content-three__pic
    width: 281px
    height: 190px

@media (min-width: 1440px)
  .first_slider
    width: 1440px

