*
    {padding: 0;
    margin: 0;}

@grey-background: linear-gradient(218deg, #ededed, #f9f9f9);
@red:#cd0a2d;

.center
    {
    margin: 0 auto;
}
.link-logo{
    text-decoration: none;
    width: 182px;
    text-align: center;
    padding-top: 64px;
    padding-left: 66px;
    background-image: url(img/Logo.svg);
    background-repeat: no-repeat;
    background-position: left 162px top 27px;
     
    
   
}
.logo-H{
    color: #ffffff;
    font-size: 34px;
}
.logo-p{
    text-shadow: 4px 2px 0 rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 4.51px;
}
.header{
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    
    &__list{
        padding-top: 60px;
        padding-left: 400px;
        width: 670px;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        
            }
    
}
.headert__list-links{
    text-decoration: none;
    text-shadow: 4px 2px 0 rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1.13px;
}
.slider_one{
    width: 1700px;
    height:  935px;
    background-image: 
        url(img/moto.png),
        url(img/slider-one_left-left.svg), 
        url(img/slider-one_right.svg),
        url(img/slider-one_center-bottom.svg),
        url(img/slider-one_left.svg),
        url(img/Rectangle_4.svg);
        
    
    background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,no-repeat;
    background-position: 
        center bottom, 
        top left,  
        left 702px top -10px,
        left 1px top 396px,
        left 0px top 0px,
        left top;
   
}
.reposter{
    padding-left: 73px;
    padding-top: 40px;
    width: 260px;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__cirkle{
        
        display: flex;
        align-items: center;
        justify-content: center;
        width: 47px;
        height: 47px;
        border-radius: 50%;
        border: 3px solid #ffffff;
    }
}
.cirkle-links{
    text-decoration: none;
    color: white;
}
.main-text-first{
    padding-top: 80px;
    text-shadow: 4px 2px 0 rgba(0, 0, 0, 0.5);
    font-size: 80px;
    text-align: center;
    color: white;
}
.red{
    color: red;
}
.slider_two {
    
    background-image: url(img/Slider_two/background-2.svg);
    background:linear-gradient(313deg, #ededed, #f9f9f9);;
    background-repeat: no-repeat;
    width: 1700px;
    
    &__content{
        width: 394px;
        height: 603px;
    }
}
.big {
    color: #ffffff;
    font-size: 56px;
}
.price {
    width: 175px;
    height: 186px;
    color: #ffffff;
    font-size: 22px;
    letter-spacing: 4.35px;
    background-image: url(img/Slider_two/red_tringl.svg);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
  
   
    
}
.standart {
    padding-top: 30px;
    color: #202020;
    font-size: 26px;
    letter-spacing: -1.9px;
}
.p-standart {
   margin-top: 30px;
    margin-bottom: 30px;
    color: #676767;
    font-size: 18px;
    letter-spacing: 0.5px;
}
.red_button {
    width: 112px;
    height: 40px;
    border-radius: 19px;
    background-color: @red;
    color: #ffffff;
     display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
}
.pic_content {
    width: 363px;
    height: 350px;
    margin-left: 20px;
    margin-bottom: 20px;
    z-index: 0;
    text-decoration: none;
    
}
.block__content {
    width: 384px;
    height: 368px;
    position: relative;  
}
.pic-links {
    z-index: 0;
}
.price-text {
    font-size: 18px;
    z-index: 1;
    position: absolute;
    text-transform: uppercase;
    color: #ffffff;
    left: 25px;
    top: 250px;
    
}
.slider-two-main-content {
    padding-top: 2rem;
    width: 1191px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.link_button {
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    
}


.slider_three__left {
    background-image: url(img/Slider_three/red-box.svg);
    background-repeat: no-repeat;
    background-position: left 0px top 40px;
    position: relative;
}
.slider_three__right {
     background-image: url(img/Slider_three/white-box.svg);
    background-repeat: no-repeat;
    background-position: right 0px top 130px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 590px;
    padding-top: 156px;
}
.slider_three {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 766px;
    background:@grey-background;
    width: 1700px;
    padding-top: 80px;
}
.center-moto {
    position: absolute;
    left: 668px;
    bottom: 0px;
}
.super-big {
    color: #fcfbfb;
    font-size: 53px;    
}
.big-white {
    color: #ffffff;
    font-size: 26px;
    letter-spacing: -1.9px;
    padding-top: 1rem;
}
.small-white {
    opacity: 0.44;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding-top: 1rem;
}
.text-left-three {
    width: 420px;
    padding-left: 260px;
    padding-top: 110px;
}
.photo-driver {
    border-radius: 100px;
    border: 6px solid #dcdcdc; 
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self:center;
}
.driver-three {
    width: 400px;
    padding-left: 200px;
    height: 126px;
    display: grid;
    grid-template-columns: 1fr 136px 80px;
    grid-template-rows: 1fr 1fr; 
    justify-content: space-between;  
}
.name-driver {
    color: #5e5e5e;
    font-size: 32px;
    grid-row: 1;
    grid-column: 2;
    align-self:center;
}
.who-driver {
    color: #979797;
    font-size: 16px;
    grid-row: 1;
    grid-column: 3;
    align-self:center;
   
}
.text-driver {
    opacity: 0.66;
    color: #040404;
    font-family: Lato;
    font-size: 18px;
    letter-spacing: 0.5px;
    grid-row: 2;
    grid-column-start:  2;
    grid-column-end: 4;
}
.photo-active {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}
.name-active {
    grid-row: 1;
    grid-column: 1;
}
.who-active {
    grid-column: 2;
    grid-row: 1;
}
.driver-active {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
}


.lozung-four {
    font-size: 68px;
    color: #000000;
}
.text-four {

   
    color: #5d5c5c;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.slider_four {
    padding-top:70px;
    width: 1700px;
    background: linear-gradient(313deg, #ededed, #f9f9f9);
    display: flex;
    flex-direction: column;
}

.left-four {
    width: 568px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
   
    align-items: center;
    margin-top: 100px;
    
}

.left-four__top {
    width: 190px;
      display: flex;
    justify-content: space-between;
}

.name-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.mini-man-pic {
    border-radius: 100px;
  
}

.name-four__name {
    color: #212121;
    font-size: 21px;
    letter-spacing: 0.21px;
}

.name-four__who {
    color: #212121;
    font-size: 18x;
    letter-spacing: 0.21px;
}

.left-four__bottom-text {
    color: #212121;
    font-size: 20px;
    letter-spacing: 0.5px;
    text-align: center;
}

.left-four__bottom {
    width: 412px;
        padding-bottom: 4rem;
}

.right-four {
    display: flex
}

.bottom-four {
    display: flex;
    justify-content: space-between;
    padding-left: 15rem;
    padding-right: 22rem;
}

.top-four {
        text-align: center;
}

.slider_five {
    width: 1700px;
    height: 900px;
    background-image: 
        url(img/slider-five/globus.svg),
        url(img/slider-five/moto-five.svg),
        url(img/slider-five/red-block.svg),
        url(img/slider-five/black-fon.svg);
    
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 
        top -13px center,
        center bottom 10px,
        left 0px top 280px,
        top;

}
